@font-face {
    font-family: montserrat;
    src: url("../fonts/Montserrat/static/Montserrat-Regular.ttf");
}
.image1W{
    width: 384px;
    height: 371px;
    margin-right: 253px;
    margin-top: 259px;
    margin-bottom: 359px;
    float: right;


}
.image2W{
    width: 236px;
    height: 370px;
    

    
  
}
.title1{
font-weight: 600;
font-size: 46px;
font-family: montserrat;
color:  #394E5D;
margin-left: 155px;
margin-top: 354px;


}
.text1{
font-family: montserrat;
font-size: 22px;
color: #394E5D;
width: 503px;
margin-left: 155px;
}
.title2{
    font-family: montserrat;
    font-weight: bold;
    font-size: 32px;
    color: #394E5D;
    margin-left: 503px;
    margin-bottom: 60px;
    letter-spacing: 0;

    
    }
    .title3{
        font-family: montserrat;
        font-size: 24px;
        font-weight: bold;
        color:  #394E5D;
        margin-top: 114px;

    }
    .text3Container{
        width:525px;
    }
    .text3{
    font-family: montserrat;
    font-size: 18px;
    color: #182333;
    }
    .image2{
        margin-left: 282px;
    }
    
    
 
    @media (max-width:376px){
        .image2{
            display: none;
        }
        .text3Container{
            width: 334px;
            margin-left: 24px;

        }
        .text3{
            font-size: 16px;
            color: #182333 ;
        }
        .title3{
            font-size: 20px;
            margin-top: 0;
        }
        .title2{
            font-size: 26px;
            margin-left: 24px;
            margin-bottom: 48px;
            
           
        }
        .image1W{
            width: 266px;
            height: 257px;
            margin-bottom: 163px;
            margin-left: 55px;
            margin-right: 54px;
            margin-top: 87px;
        }
       .title1 {
           font-size: 32px;
           margin-left: 26px;
           margin-top: 166px;

        }
        .text1{
            font-size: 18px;
            margin-left: 26px;
            width: 327px;
        }
    
    }
    

    