.logoContainer{

    height: 145px;
    background-color: #f5f8fa;
    text-align: center;
    align-items: center;
    margin-bottom: 156px;
    margin-top: 217px;

}
.logo{
   width: 133px;
   height: 47px;
   margin-top: 41px;
   margin-bottom: 57px;
   margin-right: 50px;
    
    
    
    
}
