.cont{
    height: 60px;
    background-color: #4296cb;
    padding-top: 15px;
    padding-bottom: 11.52px;
    

}
.logo{
    width: 36px;
    height: 32px;
    margin-left: 147px;
    margin-right: 41.42px;
    background-color: transparent;

}
.text{
    color: white;
    font-size: 14px;
    font-weight: bold;
    font-family:montserrat;
}
@media (max-width:376px){
    .cont{
        height: 59px;
        padding-top: 16px;
        padding-bottom: 10.52px;
    }
    .logo{
        width: 28px;
        height: 32px;
        margin-left: 33px;
        margin-right: 39.88px;
        
        
    }
   
}

