.btn{
    width: 140px;
    height: 38px;
    border: 1px solid #4296cb;
    background-color: white;
    border-radius: 37px;
    margin-top: 71px;
    margin-bottom: 167px;
    margin-left: 645px;
    font-family: montserrat;
    font-weight: 600;
    font-size: 14px;
    color: #4296cb;
}
.btn:hover{
    background-color: #4296cb;
    color: white;
}
@media (max-width:376px){
    .btn{
        margin-left: 112px;
        margin-bottom: 78px;
    }
    
    
}
